html {
    margin: 0;
  }
  
  /* span {
    display: block;
  } */
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
    justify-content: center;
  }
  
  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
    
  }
  
  #pink {
    background: rgb(235, 136, 152);
  }
  
  #parrot {
    background: rgb(138, 213, 203);
  }
  #lightparrot {
    background: rgb(58, 231, 153);
  }
  #sky {
    background: rgb(58, 219, 240);
  }
  