
* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 2%, 10%);
  font-family: sans-serif;
  color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
}

.container {
  width: 700px;
  height: 350px;
  background-color: #1d1c1c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 border-radius: 5px;
 box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
 /* position: relative; */

}

.container section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;
  text-align: center;
  
}

.rating {
  position: relative;
  overflow: hidden;

}

.rating {
  flex: 1;
  cursor: pointer;
  padding: 8px;
  margin: 2px 2px;
}

.rating:hover,
.rating.active {
  border-radius: 4px;
  background: #ccc;
  transition: 1s ease;
  transform: scale(1.1);
}

.icon {
  font-size: 85px; 
  padding: 8px; 
  border-radius: 4px;
  margin: 2px 2px;
  
}

/* .rating .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 170px;
  background-color: rgba(193, 189, 189, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  cursor: pointer; */

/* }

.rating:hover .overlay {
  opacity: 1;
} */

 .rating small {
  display: inline-block;
  margin: 10px 0px;
  text-align: center;
}

.container strong {
  line-height: 20px;
}

.container .feedback {
  margin-bottom: 50px;
  /* background-color: orange; */

}


.btn {
  margin-top: 20px;
  border-radius: 5px;
  width: 20%;
  height: 10%;
  background-color: #4caf50;
}

